@use '../utils' as *;

.search-bar {
  &[data-error='false'] {
    .error-msg {
      display: none;
    }
  }

  &[data-error='true'] {
    .search-form {
      outline: 1px solid var(--color-border-formfield-error) !important;
    }

    .error-msg {
      display: block;
    }
  }

  .search-form {
    display: flex;
    align-items: center;
    font-weight: 700;
    background-color: var(--color-background-search-bar);
    padding-inline: 1.5rem;
    border-radius: 1rem;

    &:focus-within {
      outline: 1px solid var(--color-border-formfield-focus);
    }

    &__input {
      width: 100%;
      padding: 0.9375rem 0 0.875rem;
      font-size: var(--font-search-text);
      @include line-height(19);
      background: transparent;
      border: 0;
      outline: none;
      caret-color: var(--color-caret-formfield);

      @include mq(sm) {
        padding-block: 1.25rem;
        @include line-height(24);
      }
    }

    img {
      --dim: 1rem;
      width: var(--dim);
      height: var(--dim);
    }
  }

  .error-msg {
    margin-top: 0.5rem;
    font-size: var(--font-heading-s);
    color: var(--color-text-error);
  }
}

// .error-msg[data-error='true'] {
//   display: block;
// }

// .error-msg[data-error='false'] {
//   display: none;
// }
