$color-neutral-800: hsl(0, 0%, 2%);
$color-neutral-700: hsl(0, 0%, 12%);
$color-neutral-600: hsl(0, 0%, 18%);
$color-neutral-500: hsl(0, 0%, 23%);
$color-neutral-400: hsl(0, 0%, 51%);
$color-neutral-300: hsl(0, 0%, 91%);
$color-neutral-200: hsl(0, 0%, 96%);
$color-neutral-100: hsl(0, 0%, 100%);
$color-primary-base: hsl(274, 82%, 60%);
$color-primary-strong: hsl(274, 82%, 50%);
$color-secondary: hsl(0, 100%, 66%);
