@use 'sass:map';
@use './breakpoints' as *;

@mixin mq($width, $type: min) {
  @if not map.has-key($breakpoints, $width) {
    @error "#{$width} doesn't exist in $breakpoints";
  }

  $width: map.get($breakpoints, $width);

  @if $type == max {
    $width: calc($width - 1px);
  }

  @media only screen and (#{$type}-width: $width) {
    @content;
  }
}

@mixin letter-spacing($val) {
  letter-spacing: calc($val / 100) + em;
}

@mixin line-height($val) {
  line-height: calc($val / 16) + rem;
}
